 .foot{
    padding-top: 15px;
    background-color: #1b2c2f;
 }
 .bottom-foot{
  background-color: #1b2c2f;
 }
  @media screen and (max-width:800px){
    .foot{
      flex-direction: column;
      padding: 15px;
      justify-content: center;
    }
    .location >span{
        font-size: 10px;
    }
    .foot .fo-right{
        margin-top: 20px;
    }
  }